#developinfoleft
  #developinfofaces
    %div{:class=>"developerinfofacebox", :dev=>"0"}
      %img{ :width=>"26", :height=>"29", :src=>"../images/developerthumbnails.png"}
    %div{:class=>"developerinfofacebox", :dev=>"0"}
      %img{ :width=>"26", :height=>"29", :src=>"../images/developerthumbnails.png"}
    %div{:class=>"developerinfofacebox", :dev=>"0"}
      %img{:width=>"26", :height=>"29", :src=>"../images/developerthumbnails.png"}
    %div{:class=>"developerinfofacebox", :dev=>"0"}
      %img{:width=>"26", :height=>"29", :src=>"../images/developerthumbnails.png"}
    %div{ :class=>"developerinfofacebox", :dev=>"0"}
      %img{:width=>"26", :height=>"29", :src=>"../images/developerthumbnails.png"}
    %div{:class=>"developerinfofacebox", :dev=>"1"}
      %img{:width=>"26", :height=>"29", :src=>"../images/developerthumbnails2.png"}
    %div{:class=>"developerinfofacebox", :dev=>"1"}
      %img{:width=>"26", :height=>"29", :src=>"../images/developerthumbnails2.png"}
    %div{:class=>"developerinfofacebox", :dev=>"1"}
      %img{:width=>"26", :height=>"29", :src=>"../images/developerthumbnails2.png"}
  #developinfobubbles
  #developinfopicture

#developinforight
  #developinforightcontainer1
  #developinforightcontainer2
  #developinfotextcontainer
    #developername.pagecomment
      Abraham Barrera
    #developerrange
      Desarrollador
    #developercomment
      Desde pequeño le gustó crear cosas, y no descubrió sino hasta la enseñanza media que la programación de computadores es la mejor forma de crear e innovar. Vibra desarrollando para móviles (iPhone/iPad),aunque también desarrolla en otras tecnologías como J2EE y Python
    #medailcontainer
      .frameworkicon
      .frameworkicon
      .frameworkicon
      .frameworkicon
      .frameworkicon
%br
#bodyseparator
%div{:style=>"float:left; width:444px;"}
  %div{:style=>"background-image:url(../images/bodybottomrighttop.png); width:360px; height:33px; margin:31px 0px 0px 82px; position:absolute;"}
  %div{:style=>"background-image:url(../images/bodybottomleft.png); position:absolute; width:443px; height:450px; background-repeat:no-repeat;"}
  .teammediacontainers
    %div{ :style=>"float:right; margin:179px 75px 0 0; font-size:18px;", :class=>"menutextblue"}
      Ver todas
      %br
      las fotos
      %br
      %img{:src=>"../images/seeallpictures.png", :width=>"11", :height=>"14"}
%div{:id=>"whatdowedo", :style=>"margin:126px 0 0 70px;"}
  %div{:class=>"pagecomment", :style=>"font-size:27px;"}
    Qu&eacute; hacemos?
  %div{:style=>" font-size: 11px;", :class=>"pagecomment"}
    Gastamos nuestro tiempo resolviendo tus problemas o
    %br
    investigando c&oacute;mo hacerlo con calidad en el menor tiempo posible.
  .techinfo
    %img{ :src=>"../images/rails.png", :width=>"35", :height=>"45"}
    %span{:class=>"techname"}
      Ruby on Rails
  .techinfo
    %img{:src=>"../images/php.png", :width=>"60", :height=>"32"}
    %span.techname
      PHP
  .techinfo
    %img{:src=>"../images/wordpress.png", :width=>"34", :height=>"34"}
    %span.techname
      Wordpress
  .techinfo
    %img{:src=>"../images/drupal.png", :width=>"31", :height=>"35"}
    %span.techname
      Drupal
#bodybottomright
  .blogmaincontainer
    .blogcontainer
      %span.blogmessagetitle
        Un Job Board para ayudar
      %br
      %span.blogmessagedate
        Posteado el 21-06-2011
      %br
      %img{:src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
    .blogcontainer
      %span.blogmessagetitle
        Las certificaciones debieran morir.
        %br
        Haz tu parte.
        %br
      %span.blogmessagedate
        Posteado el 18-06-2011
        %br
        %img{:src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
    .blogcontainer
      %span.blogmessagetitle
        Presentación Java Day: &#8220;Ruby,
        %br
        Programando para Humanos&#8221
        %br
      %span.blogmessagedate
        Posteado el 14-06-2011
        %br
        %img{:src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
    .blogcontainer
      %span.blogmessagetitle
        Presentación Java Day: &#8220;El lado
        %br cool de Java&#8221
        %br
        %span.blogmessagedate
          Posteado el 14-06-2011
          %br
          %img{:src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
    .blogcontainer
      %span.blogmessagetitle
        Presentación Java Day: &#8220;El lado<br /> cool de Java&#8221 </span><br />
      %span.blogmessagedate
        Posteado el 14-06-2011
        %br
      %img{ :src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
  .bloglastaccessrow
  .lastaccess
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entradas anteriores

:javascript
  function setdevelopersinfo(){
    /*Set developer info*/
    developersinfoarray=new Array;
    developersinfoarray[0]=new Array("url('../images/dev.png')","jose luis","Developer","XXXXXXXXXXXX XXXXXXXXXXXX XXXXXXXXX XXXXXXXXXXX XXXXXXXXXXXXX XXXXXXXXXXXX XXXXXXXXXXXX ...","");
    developersinfoarray[1]=new Array("url('../images/picturedeveloper1.png')","Abraham Barrera","Desarrollador","Desde pequeño le gustó crear cosas, y ...","");

    /*Set developer medails*/
    developermeadils=new Array;
    developermeadils[0]=new Array("php","sql");
    developermeadils[1]=new Array("php","ruby","sql");
  }
  function medails(developercode){
    var strmedails="";
    for (var i=0; i<=((developermeadils[developercode].length)-1); i++){
      strmedails+="<div class='frameworkicon'>"+developermeadils[developercode][i]+"</div>";
    }
    $("#medailcontainer").html(strmedails);
  }
  $(document).ready(function(){
    setdevelopersinfo();
             /*$("#bodywrapper").css({'background-color' : '#2c5283', 'margin' : '127px 0 0'});
             $("#pagecomment").html("Contactanos<br>");	*/
    $("#bodywrapper").css("height","1410px");

    $(".developerinfofacebox").click(function(){

      $("#developinfopicture").css("background-image",developersinfoarray[$(this).attr("dev")][0]);

      $("#developername").html(developersinfoarray[$(this).attr("dev")][1]);
      $("#developerrange").html(developersinfoarray[$(this).attr("dev")][2]);
      $("#developercomment").html(developersinfoarray[$(this).attr("dev")][3]);

      medails($(this).attr("dev"));

    });
  });
