#footer_front.grid_12
  #copyrigth.grid_10
    %p.capitalize COPYRIGTH. All Rights Reserved Digital Works México S.A. de C.V
  #sociales.grid_2
    %p.big Come
    %p.bigest
      %span.littler> &
      Visit
    %p.little Our World
    %img{:alt => "youtube", :height => "24", :src => "/images/youtube.png", :width => "24"}/
    %img{:alt => "twitter", :height => "23", :src => "/images/twitter.png", :width => "24"}/
    %img{:alt => "facebook", :height => "23", :src => "/images/facebook.png", :width => "24"}/
/ footer
/ wapper

