#headerwrapper
  #headertopcontainer
    %a{:class=>"logocontainer", :href=>"#"}
      %img{:src=>"../images/zenlabslogo2.png", :width=>"169", :height=>"61"}
    #sociallinks
      %img{:src=>"../images/logofbtw.png", :width=>"78", :height=>"37"}
  #shadowlayerscontainer
    #shadowwe
      &nbsp;
    #shadowworks
      &nbsp;
    #shadowblog
      &nbsp;
    #shadowcontact
      &nbsp;
    #headerbottomcontainer
      .pagecomment#pagecomment
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Somos una empresa de desarrollo de software, que<br />
        &nbsp;&nbsp;&nbsp;&nbsp;cree que mas importante que los procesos y las<br />
        herramientas son el talento y la motivacion de<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; su gente
      %a{ :obj=>"shadowcontact", :href=>"#", :class=>"menutextblue menuheader", :id=>"menucontacts"}
        Contact
      %a{ :obj=>"shadowblog", :href=>"#", :class=>"menutextblue menuheader", :id=>"menublogs"}
        Blogs
      %a{ :obj=>"shadowworks", :href=>"#", :class=>"menutextblue menuheader", :id=>"menuworks"}
        Trabajos
      %a{ :obj=>"shadowwe", :href=>"#", :class=>"menutextblue menuheader", :id=>"menuwe"}
        Nosotros
      %a{ :obj=>"", :href=>"#", :class=>"zenlabsicon menuheader"}
        %img{:src=>"../images/zenlabsicon.png", :width=>"20", :height=>"22"}

:javascript
  $(document).ready(function(){
    $(".menuheader").hover(
      function(){
        var objas=$(this).attr("obj");
        $("#"+objas).css("opacity",1);
      },
        function(){
          var objas=$(this).attr("obj");
          $("#"+objas).css("opacity",0);
        }
    );
  });
