#bodybottomright
  .blogmaincontainer
    .blogcontainer
      %span.blogmessagetitle
        Un Job Board para ayudar
      %br
      %span.blogmessagedate
        Posteado el 21-06-2011
      %br
      %img{:src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
    .blogcontainer
      %span.blogmessagetitle
        Las certificaciones debieran morir.
        %br
        Haz tu parte.
        %br
      %span.blogmessagedate
        Posteado el 18-06-2011
        %br
        %img{:src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
    .blogcontainer
      %span.blogmessagetitle
        Presentación Java Day: &#8220;Ruby,
        %br
        Programando para Humanos&#8221
        %br
      %span.blogmessagedate
        Posteado el 14-06-2011
        %br
        %img{:src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
    .blogcontainer
      %span.blogmessagetitle
        Presentación Java Day: &#8220;El lado
        %br cool de Java&#8221
        %br
        %span.blogmessagedate
          Posteado el 14-06-2011
          %br
          %img{:src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
    .blogcontainer
      %span.blogmessagetitle
        Presentación Java Day: &#8220;El lado<br /> cool de Java&#8221 </span><br />
      %span.blogmessagedate
        Posteado el 14-06-2011
        %br
        %img{ :src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
    %div
      .bloglastaccessrow
      .lastaccess &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entradas anteriores

