#bodybottomright
  .blogmaincontainer
    .blogcontainer
      - @blog.each do |blog|
        %span.blogmessagetitle= blog.title
        %br
        %span.blogmessagedate= "Posteado el #{blog.created_at.strftime("%d-%m-%Y")}"
        %br
        %img{:src=>"../images/blogseparator.png", :width=>"216", :height=>"1"}
        %br
    %div
      .bloglastaccessrow
      .lastaccess &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entradas anteriores

