%div{:style=>"float:left; width:444px;"}
  %div{:style=>"background-image:url(../images/bodybottomrighttop.png); width:360px; height:33px; margin:31px 0px 0px 82px; position:absolute;"}
  %div{:style=>"background-image:url(../images/bodybottomleft.png); position:absolute; width:443px; height:450px; background-repeat:no-repeat;"}
  .teammediacontainers
    %div{ :style=>"float:right; margin:179px 75px 0 0; font-size:18px;", :class=>"menutextblue"}
      Ver todas
      %br
      las fotos
      %br
      %img{:src=>"../images/seeallpictures.png", :width=>"11", :height=>"14"}
  %div{:id=>"whatdowedo", :style=>"margin:126px 0 0 70px;"}
    %div{:class=>"pagecomment", :style=>"font-size:27px;"}
      Qu&eacute; hacemos?
    %div{:style=>" font-size: 11px;", :class=>"pagecomment"}
      Gastamos nuestro tiempo resolviendo tus problemas o
      %br
      investigando c&oacute;mo hacerlo con calidad en el menor tiempo posible.
    .techinfo
      %img{ :src=>"../images/rails.png", :width=>"35", :height=>"45"}
      %span{:class=>"techname"}
        Ruby on Rails
    .techinfo
      %img{:src=>"../images/php.png", :width=>"60", :height=>"32"}
      %span.techname
        PHP
    .techinfo
      %img{:src=>"../images/wordpress.png", :width=>"34", :height=>"34"}
      %span.techname
        Wordpress
    .techinfo
      %img{:src=>"../images/drupal.png", :width=>"31", :height=>"35"}
      %span.techname
        Drupal

