:javascript
  $(document).ready(function(){
     $("#bodywrapper").css({'background-color' : '#2c5283', 'margin' : '127px 0 0'});
     $("#pagecomment").html("Contactanos");
     $("#bodywrapper").css("height","714px");
  });
#contactcontainer
  .skybluetext ¿Listo para contratarnos?
  #googlemapcontainer
    %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps/ms?mpa=0&ctz=300&mpf=3&ie=UTF8&t=m&vpsrc=6&source=embed&num=10&msa=0&sll=37.0625,-95.677068&sspn=23.875,57.630033&msid=206930595307460980872.0004ae0140afb3c870835&ll=-16.506788,-68.130512&spn=0.028803,0.036478&z=14&output=embed", :width => "425"}
  #contactusinfocontainer
    #contactusleft.skybluetext Email Teléfonos Dirección
    #contactuscenter
    #contactusright.whitetext info@zenlabs.com (591)-2424567 ι (591)-2435556 Direccion de ejemplo
