.scroll-pane-os2.about
  .scrollbar
    .track
      .thumb
        .end
  .viewport
    .overview
      #text_left
        %h1= @about.title
        %p= raw textilize(@about.content)
#about_image.grid_7
  = image_tag(@about.last_photo_url, :alt => @about.title, :height => "554", :width => "465")

:javascript
  $(function()
    {
      $('.scroll-pane-os2').jScrollPane(
        {
          showArrows: true,
          verticalArrowPositions: 'os'
          //horizontalArrowPositions: 'os'
        }
        );
    });
:css
  .scroll-pane-os2{
    width: 300px;
    height: 555px;
    overflow: auto;
  }
