#left_menu.grid_3
  %ul
    %li
      %a{:href => "#"} Institutional Spots
    %li
      %a{:href => "#"} Promotonial Spots
    %li
      %a{:href => "#"} Corporate Videos
    %li
      %a{:href => "#"} Demo Reals
    %li
      %a{:href => "#"} Just for fun
#back.grid_8
  %a{:href => "#"}
    %img{:alt => "video", :height => "62", :src => "../images/bg_video_mini.png", :width => "80"}/
  %a{:href => "#"}
    %img{:alt => "video", :height => "62", :src => "images/bg_video_mini.png", :width => "80"}/
  %a{:href => "#"}
    %img{:alt => "video", :height => "62", :src => "images/bg_video_mini.png", :width => "80"}/
  %a{:href => "#"}
    %img{:alt => "video", :height => "62", :src => "images/bg_video_mini.png", :width => "80"}/
  %a{:href => "#"}
    %img{:alt => "video", :height => "62", :src => "images/bg_video_mini.png", :width => "80"}/
  %a{:href => "#"}
    %img{:alt => "video", :height => "62", :src => "images/bg_video_mini.png", :width => "80"}/
  %a{:href => "#"}
    %img{:alt => "video", :height => "62", :src => "images/bg_video_mini.png", :width => "80"}/
  %a{:href => "#"}
    %img{:alt => "video", :height => "62", :src => "images/bg_video_mini.png", :width => "80"}/
